body {
    margin:25px;
    padding:25px;
    font-family: 'Verdana', sans-serif;
    background-color: #A9A9A9;
}
#cat, #header_intro, #personal_info, #profile, #categories, #skills, #interests, #hobbies, #contact {
    margin:25px;
    padding:10px 25px 10px;
    background-color: #C0C0C0;
}

#cat {
    display: flex;
    justify-content: center;
}

img {
    max-width:100%;
    max-height:100%;
}